.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f4f4f4;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f4f4f4;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #515152;
}

.App .primaryBg {
  background-color: #515152;
}

.App .highlightTextColor {
  color: #fbbc50;
}

.App .highlightBg {
  background-color: #fbbc50;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #515152;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #626263;
}
.mui-btn--accent {
    background-color: #fbbc50;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #fcc361;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #515152;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .SlideOutMenu {
    min-height: 204px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 272px */
  }
  .SlideOutMenu > .background > .containerMinHeight {
    min-height: 204px;
  }


  .SlideOutMenu .elCard310236 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 204px;
  }


/* Narrowest size for this element's responsive layout */
  .HomeScreen > .background > .elBackground732314 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .HomeScreen > .background > .elBackground732314 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .HomeScreen > .background > .elBackground732314 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .HomeScreen > .background > .elBackground732314 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn_HomeScreen_elMenuSlideOut73311 {
  0% { opacity: 0.0; }
  44% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.HomeScreen > .layoutFlow .elMenuSlideOut73311 {
  animation: 0.45s fadeIn_HomeScreen_elMenuSlideOut73311;
}

/* Narrowest size for this element's responsive layout */
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 {
    position: absolute;
    margin-top: 50px;
    width: 315px;
    margin-left: 0px;
  }
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > * { 
  width: 315px;
  }
  
  .flowRow_HomeScreen_elMenuSlideOut73311_73311 { 
  }
  
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > .background > .containerMinHeight {
    min-height: 204px;
  }

@media (min-width: 568px) {
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 {
    position: absolute;
    margin-top: 64px;
    width: 224px;
    margin-left: 0px;
  }
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > * { 
  width: 224px;
  }
  
  .flowRow_HomeScreen_elMenuSlideOut73311_73311 { 
  }
  
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > .background > .containerMinHeight {
    min-height: 204px;
  }

}
@media (min-width: 768px) {
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 {
    position: absolute;
    margin-top: 64px;
    width: 306px;
    margin-left: 0px;
  }
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > * { 
  width: 306px;
  }
  
  .flowRow_HomeScreen_elMenuSlideOut73311_73311 { 
  }
  
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > .background > .containerMinHeight {
    min-height: 203px;
  }

}
@media (min-width: 1024px) {
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 {
    position: absolute;
    margin-top: 64px;
    width: 406px;
    margin-left: 0px;
  }
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > * { 
  width: 406px;
  }
  
  .flowRow_HomeScreen_elMenuSlideOut73311_73311 { 
  }
  
  .HomeScreen > .layoutFlow .elMenuSlideOut73311 > .background > .containerMinHeight {
    min-height: 203px;
  }

}


/* Narrowest size for this element's responsive layout */
  .HomeScreen > .layoutFlow > .elSwapper125276 {
    margin-top: -202px;
    width: 272px;
    margin-left: 334px;
  }
  .HomeScreen > .layoutFlow > .elSwapper125276 > * { 
  width: 272px;
  }
  
  .HomeScreen > .layoutFlow > .elSwapper125276 > .background > .containerMinHeight {
    min-height: 182px;
  }

@media (min-width: 568px) {
  .HomeScreen > .layoutFlow > .elSwapper125276 {
    margin-top: -225px;
    width: 272px;
    margin-left: 235px;
  }
  .HomeScreen > .layoutFlow > .elSwapper125276 > * { 
  width: 272px;
  }
  
  .HomeScreen > .layoutFlow > .elSwapper125276 > .background > .containerMinHeight {
    min-height: 182px;
  }

}
@media (min-width: 768px) {
  .HomeScreen > .layoutFlow > .elSwapper125276 {
    margin-top: -929px;
    width: 430px;
    margin-left: 315px;
  }
  .HomeScreen > .layoutFlow > .elSwapper125276 > * { 
  width: 430px;
  }
  
  .HomeScreen > .layoutFlow > .elSwapper125276 > .background > .containerMinHeight {
    min-height: 182px;
  }

}
@media (min-width: 1024px) {
  .HomeScreen > .layoutFlow > .elSwapper125276 {
    margin-top: 78px;
    width: 588px;
    margin-left: 418px;
  }
  .HomeScreen > .layoutFlow > .elSwapper125276 > * { 
  width: 588px;
  }
  
  .HomeScreen > .layoutFlow > .elSwapper125276 > .background > .containerMinHeight {
    min-height: 182px;
  }

}


/* Narrowest size for this element's responsive layout */
  .HomeScreen > .screenFgContainer > .foreground > .elMenuIcon283829 {
    line-height: 28px;
    position: absolute;
    left: calc(2.0% + 2px);
    top: 8px;
    width: 32px;
    height: 28px;
  }
@media (min-width: 568px) {
  .HomeScreen > .screenFgContainer > .foreground > .elMenuIcon283829 {
    line-height: 28px;
    left: calc(2.0% + 2px);
    top: 8px;
    width: 32px;
    height: 28px;
  }
}
@media (min-width: 768px) {
  .HomeScreen > .screenFgContainer > .foreground > .elMenuIcon283829 {
    line-height: 40px;
    left: calc(2.0% + 2px);
    top: 6px;
    width: 45px;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .HomeScreen > .screenFgContainer > .foreground > .elMenuIcon283829 {
    line-height: 42px;
    left: calc(2.0% + 2px);
    top: 8px;
    width: 47px;
    height: 42px;
  }
}


/* Narrowest size for this element's responsive layout */
  .HomeScreen > .screenFgContainer > .foreground > .elLogoIcon147187 {
    position: absolute;
    left: calc(50.0% + 0px - 19px);
    top: 4px;
    width: 38px;
    height: 38px;
  }
@media (min-width: 568px) {
  .HomeScreen > .screenFgContainer > .foreground > .elLogoIcon147187 {
    left: calc(50.0% + 0px - 19px);
    top: 4px;
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 768px) {
  .HomeScreen > .screenFgContainer > .foreground > .elLogoIcon147187 {
    left: calc(50.0% + 0px - 19px);
    top: 12px;
    width: 38px;
    height: 38px;
  }
}
@media (min-width: 1024px) {
  .HomeScreen > .screenFgContainer > .foreground > .elLogoIcon147187 {
    left: calc(50.0% + 0px - 19px);
    top: 14px;
    width: 38px;
    height: 38px;
  }
}


/* Narrowest size for this element's responsive layout */
  .HomeScreen > .screenFgContainer > .foreground > .elNotificationIcon236422 {
    line-height: 28px;
    position: absolute;
    right: calc(2.0% - -2px);
    top: 8px;
    width: 32px;
    height: 28px;
  }
@media (min-width: 568px) {
  .HomeScreen > .screenFgContainer > .foreground > .elNotificationIcon236422 {
    line-height: 28px;
    right: calc(2.0% - -2px);
    top: 11px;
    width: 32px;
    height: 28px;
  }
}
@media (min-width: 768px) {
  .HomeScreen > .screenFgContainer > .foreground > .elNotificationIcon236422 {
    line-height: 40px;
    right: calc(2.0% - -2px);
    top: 11px;
    width: 45px;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .HomeScreen > .screenFgContainer > .foreground > .elNotificationIcon236422 {
    line-height: 40px;
    right: calc(2.0% - -2px);
    top: 8px;
    width: 45px;
    height: 40px;
  }
}

/* This component has a fixed-size layout */
  .LoginDialog {
    min-height: 239px;
    width: 100%; /* This component was designed using a width of 322px */
  }
  .LoginDialog > .background > .containerMinHeight {
    min-height: 239px;
  }


.LoginDialog .elEmail58097 input {
  color: #fbbc50;
}

.LoginDialog .elEmail58097 input {
  border-bottom-color: #fbbc50;
}

.LoginDialog .elEmail58097 input::input-placeholder {
  color: rgba(251, 188, 80, 0.5000);
}

.LoginDialog .elEmail58097 input::placeholder {
  color: rgba(251, 188, 80, 0.5000);
}

  .LoginDialog .elEmail58097 {
    margin-top: 52px;
    width: 100%;
  }
  .LoginDialog .elEmail58097 > * { 
  margin-left: auto;
  width: 226px;
  margin-right: 49px;
  }
  


.LoginDialog .elPassword512968 input {
  color: #fbbc50;
}

.LoginDialog .elPassword512968 input {
  border-bottom-color: #fbbc50;
}

.LoginDialog .elPassword512968 input::input-placeholder {
  color: rgba(251, 188, 80, 0.5000);
}

.LoginDialog .elPassword512968 input::placeholder {
  color: rgba(251, 188, 80, 0.5000);
}

  .LoginDialog .elPassword512968 {
    margin-top: 19px;
    width: 100%;
  }
  .LoginDialog .elPassword512968 > * { 
  margin-left: auto;
  width: 226px;
  margin-right: 49px;
  }
  

@keyframes fadeIn_LoginDialog_elLoginButton276758 {
  from { opacity: 0.0; }
  to   { opacity: 1.0; }
}
.LoginDialog .elLoginButton276758 {
  animation: 0.25s fadeIn_LoginDialog_elLoginButton276758;
}

  .LoginDialog .elLoginButton276758 {
    line-height: 35px;
    margin-top: 30px;
    width: 100%;
  }
  .LoginDialog .elLoginButton276758 > * { 
  margin-left: auto;
  width: 145px;
  margin-right: 86px;
  height: 35px;
  }
  


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .background > .elHeaderb149901 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .LoginScreen > .background > .elHeaderb149901 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .background > .elHeaderb149901 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .background > .elHeaderb149901 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .background > .elBackground516277 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .LoginScreen > .background > .elBackground516277 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .background > .elBackground516277 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .background > .elBackground516277 {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .layoutFlow > .elComp617422 {
    margin-top: 296px;
    width: 754px;
    margin-left: calc(16.3% - 377px);
  }
  .LoginScreen > .layoutFlow > .elComp617422 > * { 
  width: 754px;
  }
  
  .LoginScreen > .layoutFlow > .elComp617422 > .background > .containerMinHeight {
    min-height: 234px;
  }

@media (min-width: 568px) {
  .LoginScreen > .layoutFlow > .elComp617422 {
    margin-top: 13px;
    width: 754px;
    margin-left: calc(44.8% - 377px);
  }
  .LoginScreen > .layoutFlow > .elComp617422 > * { 
  width: 754px;
  }
  
  .LoginScreen > .layoutFlow > .elComp617422 > .background > .containerMinHeight {
    min-height: 234px;
  }

}
@media (min-width: 768px) {
  .LoginScreen > .layoutFlow > .elComp617422 {
    margin-top: 757px;
    width: 750px;
    margin-left: calc(35.9% - 375px);
  }
  .LoginScreen > .layoutFlow > .elComp617422 > * { 
  width: 750px;
  }
  
  .LoginScreen > .layoutFlow > .elComp617422 > .background > .containerMinHeight {
    min-height: 234px;
  }

}
@media (min-width: 1024px) {
  .LoginScreen > .layoutFlow > .elComp617422 {
    margin-top: 314px;
    width: 750px;
    margin-left: calc(54.1% - 375px);
  }
  .LoginScreen > .layoutFlow > .elComp617422 > * { 
  width: 750px;
  }
  
  .LoginScreen > .layoutFlow > .elComp617422 > .background > .containerMinHeight {
    min-height: 234px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LoginScreen > .screenFgContainer > .foreground > .elRoundimage688288 {
    position: absolute;
    left: calc(50.0% + 0px - 38px);
    top: 81px;
    width: 77px;
    height: 78px;
  }
@media (min-width: 568px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRoundimage688288 {
    left: calc(50.0% + -199px - 38px);
    top: 64px;
    width: 77px;
    height: 78px;
  }
}
@media (min-width: 768px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRoundimage688288 {
    left: calc(50.0% + 0px - 38px);
    top: 80px;
    width: 76px;
    height: 77px;
  }
}
@media (min-width: 1024px) {
  .LoginScreen > .screenFgContainer > .foreground > .elRoundimage688288 {
    left: calc(50.0% + 0px - 38px);
    top: 80px;
    width: 76px;
    height: 77px;
  }
}

